$darkWood: #936149;
$lightWood: #9a7a6c;
$borderGrey: #b09e96;
$spaceSilver: #e2dbd7;

.televisionWood {
    width: 900px;
    height: 530px;
    background: $darkWood;
    padding: 20px;   
    display: flex;
    border: 4px solid $spaceSilver;

}

.televisionWrapperPanelOuter {
    width: 660px;
    height: 500px;
    background: $lightWood;
    padding: 15px;   
    border: 4px solid $borderGrey;
    border-right: 2px solid $borderGrey;
}

.televisionWrapperPanelInner {
    width: 640px;
    height: 480px;
    background: $borderGrey;
    padding: 10px;   
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

.televisionScreen {
    width: 640px;
    height: 480px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,171,176,1) 35%, rgba(0,8,10,1) 100%);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.televisionWrapperPanelControlWrapper {
    width: 660px;
    height: 500px;
    background: $lightWood;
    padding: 15px;   
    border: 4px solid $borderGrey;
    border-left: 2px solid $borderGrey;
}

.televisionControl {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: $borderGrey;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    padding-top: 1px;
    overflow: hidden;
   
}

.dialBox {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    background-color: $spaceSilver;
    height: 75px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7);
}

.dialOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: $spaceSilver;
    border-radius: 55px;
    border: 1px solid black;
    box-shadow:  inset 0px 0px 10px rgba(0,0,0,0.2);
}
.dialBar {
    box-sizing: border-box;
    width: 12px;
    height: 45px;
    position: absolute;
    z-index: 2;
    border: 1px solid black;
    background-color: $spaceSilver;
    transform: rotate(-45deg);
}
.dialInner {
    height: 45px;
    width: 45px;
    background-color: #000;
    border-radius: 25px;
    box-shadow:  0px 0px 10px rgba(0,0,0,0.4);
}

.buttonWrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.buttonOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: $spaceSilver;
    border-radius: 25px;
    box-shadow:  inset 0px 0px 10px rgba(0,0,0,0.2);
}
.buttonInner {
    height: 30px;
    width: 30px;
    background-color: $spaceSilver;
    border-radius: 25px;
    box-shadow:  0px 0px 10px rgba(0,0,0,0.4);
}

.speakerGrilleBar {
    display: block;
    border-radius: 100px;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 2px 0;
}


.tvLegWrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 155px;
}
.tvLeg {
    background-color: $darkWood;
    height: 150px;
    width: 30px;
    border-bottom: 25px solid $spaceSilver;
    margin: -25px 50px;
    &.left {
        transform: rotate(15deg);

    }
    &.right {
        transform: rotate(-15deg);
    }
}

.tvAntennaWrapper {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    height: 155px;
}
.tvAntenna {
    background-color: $spaceSilver;
    height: 150px;
    width: 5px;
    margin-top: 30px;
    border-radius: 50px;
    &:after {
        content: "";
        display: flex;
        border: 5px solid $spaceSilver;
        border-radius: 5px;
        height: 2px;
        width: 2px;
        margin-left: -4px;
    }
    
    &.left {
        transform: rotate(333deg);

    }
    &.right {
        transform: rotate(40deg);
    }
}